[data-testid="user"] {
  display: flex;
  align-items: center;
}

[data-testid="user"] > *:not(:last-child) {
  margin-right: 1rem;
}

[data-testid="user"] img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

[data-testid="user"] label > span {
  font-size: 0.85rem;
  text-transform: uppercase;
  opacity: 0.5;
}

[data-testid="user"] input[type="text"]:disabled {
  background: inherit;
  border: 2px solid white;
  color: inherit;
}

[data-testid="user"] button:not(:last-child) {
  margin-right: 0.25rem;
}
